
/* General stuff */

* {
    margin: 0;
    padding: 0;
}

@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
  }

@font-face {
    font-family: normal;
    src: url(./fonts/regular.ttf);
}

@font-face {
    font-family: heading;
    src: url(./fonts/medium.ttf);
}

/* Header */

.header-main-div {
    background-color: white;
    border-bottom: 2px solid #1a4d9a;
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 7vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Category */

.categories-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    min-height: 81.5vh;
}

.categories-heading {
    font-family: heading;
    text-align: center;
}

.category-heading {
    font-family: heading;
    margin-top: 1vh;
    font-size: 3.5vh;
}

.category-description {
    font-family: normal;
    margin-top: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
}

.category-main-div {
    width: 90vw;
    height: 16vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    text-align: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.bg-div {
    position: absolute;
    width: 90vw;
    height: 16vh;
    background-color: gray;
    opacity: 0.9;
    z-index: -2;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

#vr {
    background-image: url(./public/bg1.jpg);
    background-position: center;
}

#ig {
    background-image: url(./public/bg2.jpg);
    background-position: center;
}

#ws {
    background-image: url(./public/bg3.jpg);
    background-position: center;
}

#js {
    background-image: url(./public/bg4.jpg);
    background-position: center;
}

/* Article */

.article-main-div {
    width: 90vw;
    height: 7vh;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.articles-heading {
    margin-top: 2vh;
    font-family: heading;
    margin-bottom: 1vh;
    text-align: center;
}

.article-image {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-name {
    width: 79vw;
    display: flex;
    align-items: center;
    font-family: normal;
    font-size: 1.7vh;
}

/* Content */

.content-main-div {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100vw;
    min-height: 93vh;
}

.article-structure-div {
    position: absolute;
    top: 7vh;
    left: 0;
    width: 100vw;
}

.article-structure-heading {
    font-family: heading;
    margin-top: 2vh;
    padding-left: 2vh;
    font-size: 3.5vh;
    text-decoration: underline;
    text-decoration-color: #1a4d9a;
}

.article-structure-paragraph {
    font-family: normal;
    margin-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    font-size: 2vh;
}

.article-structure-subheading {
    font-family: normal;
    font-size: 3vh;
    margin-top: 2vh;
    padding-left: 2vh;
}

/* Menu */

.menu-div {
    position: fixed;
    right: 0;
    top: 0vh;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: gray;
    text-align: center;
    font-family: heading;
    font-size: 7vw;
    text-align: left;
    color: #1a4d9a;
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.close-div {
    text-align: right;
    padding-right: 3vh;
}

.x-button {
    font-family: normal;
    font-size: 4vh;
    background-color: transparent;
    outline: none;
    border: none;
    margin-top: 2vh;
    color: black;
    margin-bottom: 2vh;
}

.list-element {
    padding-left: 3vh;
    margin-top: 3vh;
    list-style-type: none;
    text-decoration: none;
    color: #1a4d9a;
}

.desktop-footer {
    display: none;
}

/* Search */

.search-main-div {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 7vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #1a4d9a;
}

.search-div {
    width: 100vw;
    height: 5vh;
    background-color: #1a4d9a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.categories-search-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a4d9a;
    overflow-y: scroll;
}

.input-box {
    width: 70vw;
    height: 3vh;
    border: none;
    border-radius: 5px;
    font-family: heading;
    padding-left: 2vw;
    margin-left: 6vw;
}

.x-button-search {
    font-family: normal;
    font-size: 3vh;
    background-color: transparent;
    margin-bottom: 0.5vh;
    margin-right: 6vw;
    outline: none;
    border: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-desktop {
    display: none;
}

/* Footer */

.footer-main-div {
    width: 100vw;
    height: 7vh;
    border-top: 2px solid #1a4d9a;
    margin-top: 2vh;
    font-family: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-right {
    display: none;
}

.article-desktop {
    min-height: 81.5vh;
}

/* Media Queries */

@media screen and (orientation: landscape) {

    .categories-div {
        height: 91vh;
        margin: 0;
        display: block;
    }

    .category-main-div {
        width: 40vw;
        margin: 0;
        margin-bottom: 2vh;
    }

    .bg-div {
        width: 40vw;
        margin: 0;
    }

    .article-main-div {
        width: 40vw;
        margin-bottom: 2vh;
        border: 2px solid black;
        border-radius: 5px;
    }

    .arts {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
    }

    .cats {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        align-content: flex-end;
    }

    .articles-heading {
        margin-top: 2vh;
        margin-bottom: 3vh;
    }

    .categories-heading {
        margin-top: 2vh;
        margin-bottom: 3vh;
    }

    .footer-main-div {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .desktop-categories-div {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article-structure-div {
        height: 93vh;
        text-align: center;
    }

    .article-desktop {
        height: 86vh;
        overflow-y: scroll;
    }

    .article-structure-heading {
        font-size: 5vh;
    }

    .article-structure-subheading {
        font-size: 5vh;
    }

    .article-structure-paragraph {
        font-size: 3vh;
        padding-left: 5vh;
        padding-right: 5vh;
        line-height: 4vh;
    }

    .footer-main-div {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .image {
        cursor: pointer;
    }

    .right {
        display: none;
    }

    .desktop-right {
        display: flex;
        width: 21vw;
    }

    .x-button-search {
        cursor: pointer;
    }

    .category-main-div:hover {
        animation: pulse;
        animation-duration: 0.5s;
    }

    .article-main-div:hover {
        border-color: #1a4d9a;
        color: #1a4d9a;
    }

    .mobile {
        display: none;
    }

    .desktop-footer {
        display: block;
        color: black;
        font-family: normal;
    }

    .desktop-footer:hover {
        color: #1a4d9a;
    }
}